extend ../template/skeleton
block nav
    
block main
    section#login-page-section.py-5
        .container
            .card.login-card.mx-auto.border-0.shadow-sm
                .card-header.bg-white.border-bottom.py-3.d-flex.align-items-center
                    h4.brand-name.fw-bold.text-primary.mb-0 kmart
                .card-body
                    h4.card-title.mb-4 Login
                    .alert.alert-danger.d-none
                        span.error-text Username or Password Incorrect
                    form#loginForm(action="")
                        .row.mb-3
                            .form-group
                                label.mb-2.text-muted(for="username") Email or Phone number
                                input.form-control#username(type="text", name="username")
                        .row.mb-3
                            .form-group
                                label.mb-2.text-muted(for="password") Password
                                input.form-control#password(type="password", name="password")
                        .d-flex.justify-content-between
                            .form-group
                                label(for="rememberSUer") 
                                    input#rememberUSer.form-check-input(type="checkbox", name="rememberUser")
                                    span.ms-2.text-muted Remember me
                            p
                                a(href="#") Forgot Passowrd?
                        .button-holder.mt-2
                            button.btn.btn-primary.w-100.d-block#loginButton(type="submit") Login to Account
            p.login-redirection.text-center.mt-4
                span.me-2 Don't Have an Account?
                a(href="signup.html") Signup