extend ../template/skeleton
block main
    section.notification-section.pb-3
        .container-fluid.mt-3
            .card.border-0.shadow-sm
                .card-header.py-3.bg-white.border-bottom.d-flex.justify-content-between
                    h5.fw-bold.mb-0 Notifications
                    
                .card-body
                    .notification-item.d-flex.align-items-center                       
                        span.notification-title.text-muted.small Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus voluptatum itaque maxime, quam libero expedita perferendis aliquid iste, cum corrupti iusto est quod velit soluta maiores earum dolores impedit.