footer.bg-dark.text-white.pt-5
    .container
        .row
            .col-md-3.mb-3.mb-lg-0
                h3.text-white Contact Us
                p.small.text-white We love our customers, so feel free to visit during normal business hours. For home delivery services please call or text us on whatsapp.
                p.small Following COVID-19 Curfew protocols, we have restricted our business from 5:00 am to till 8:00 pm untill further notice. 
                span.mdi.mdi-phone  +91-9436466666
            .col-md-3.mb-3.mb-lg-0
                h4.text-white Find us on Facebook
                .fb-page.my-3.w-100(data-href='https://www.facebook.com/KMart-104686764806733/'  data-hide-cover='false' data-show-facepile='false')
                button.wp-chat.mt-3
                    i.mdi.mdi-whatsapp.me-2.text-success
                    span.text-success.fw-bold Chat on WhatsApp
            .col-md-3.mb-3.mb-lg-0
                img.img-fluid(src="https://img1.wsimg.com/isteam/ip/38a4d03b-8186-43c9-ab61-1b1432d2f84e/182654187_196184605656948_713380586934888789_n.jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25", alt="")
            .col-md-3
                h4.text-white.text-uppercase Hours
                span.fw-bold.output
                    span Open Today 5:00 am - 08:00 pm
                    button.btn.btn-link.text-white(onclick="https://api.whatsapp.com/send?phone=919436466666")
                        i.mdi.mdi-chevron-down
                table.table.table-borderless.timings.d-none
                    tbody.text-white
                        tr 
                            td Mon: 
                            td 05:00 am - 05:00 pm
                        tr 
                            td Tue: 
                            td 05:00 am - 05:00 pm
                        tr 
                            td Wed: 
                            td 05:00 am - 05:00 pm
                        tr 
                            td Thu: 
                            td 05:00 am - 05:00 pm
                        tr 
                            td Fri: 
                            td 05:00 am - 05:00 pm
                        tr 
                            td Sat: 
                            td 05:00 am - 05:00 pm
                        tr 
                            td Sun: 
                            td 05:00 am - 05:00 pm
                p.small Following COVID-19 Curfew protocols, we have restricted our business from 5:00 am to till 8:00 pm untill further notice. 
            .row
                .col-12.text-center.d-flex.align-items-center.justify-content-center.developer-credits
                    p.mb-0.me-2 Hosted and Powered by 
                    a(href='https://softwareworld.co.in')
                    img.img-fluid.dev-branding(src='assets/img/swlogo.svg' alt='')
        .card-footer.pb-3
            img.img-fluid(src='assets/img/paymentqrbranding.png' alt='')
